name: Handwritten Text Recognition Model

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

jobs:
  pre-build:

    runs-on: ubuntu-latest

    env:
      fnInfer: "OCR/handwritten_text_recognition/data/sample"

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
          # Install custom dependencies
          git clone https://github.com/githubharald/CTCWordBeamSearch.git
          pip install CTCWordBeamSearch/
          # Install dependencies on requirements file
          find . -name "requirements.txt" -type f -exec pip3 install -r '{}' ';'
      - name: Analyzing the code with pylint
        run: |
          pylint --fail-under=7 `ls -R|grep .py$|xargs`
      # To-do: Provide anonymized data for functional test
      # - name: Run functional tests
      #   run: |
          # python OCR/handwritten_text_recognition/src/main.py --decoder wordbeamsearch --fn_infer=${{env.fnInfer}}
          # cat '${{env.fnInfer}}/dataDump.json'